body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  font-size: 2rem;
  margin: 20px 0; /* Add margin to separate the title from the word */
}

h2 {
  font-size: 2rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the forbidden words */
}

#word {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px; /* Add space between the main word and taboo words */
}

#team1-score,
#team2-score {
  font-size: 1.5rem;
}

#timer {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

button {
  font-size: 1rem;
  background-color: white;
  color: white;
  border: 1px solid #333;
  padding: 10px 20px;
  cursor: pointer;
}

#next {
  font-size: 1.9rem;
  background-color: #4caf50;
  margin: 20px 0;
}

#skip-word {
  background-color: #e74c3c;
}

#switch-team {
  background-color: #3f83f8;
}

#settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#settings-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

option {
  font-size: 1rem;
}

input[type="checkbox"] {
  margin-left: 10px;
}
